html {
 background-color: #2D882D;
}

#canvas {
 background-color: #98FB98;
 padding-left: 0;
 padding-right: 0;
 margin-left: auto;
 margin-right: auto;
 display: block;
 vertical-align:top; 
 border: 3px solid #000000;
}


